{% extends "base.html.twig" %}

{% block title %}Startsida för blackjack{% endblock %}

{% block main %}
    <h1>Blackjack</h1>
    <a href='{{path("game-docs")}}'><h2>Dokumentation</h2></a>
    <a href='{{path("start")}}'><h2>Spela</h2></a>
    <h2>Regler</h2>
    <ul>
        <li>Klädda kort är värda 10</li>
        <li>Ess är värt 1 och 14</li>
        <li>Banken vinner om ni drar lika</li>
        <li>Få blackjack genom att dra 21</li>
        <li>Drar du över 21 förlorar du</li>
        <li>Blackjack innan banken dragit vinner spelare</li>
    </ul>

    {# <a href='{{path("show-deck")}}'><h2>Visa kortlek</h2></a>
    <a href='{{path("show-shuffled-deck")}}'><h2>Visa blandad kortlek</h2></a>
    <a href='{{path("show-one-card")}}'><h2>Visa draget kort</h2></a>
    <a href='{{path("show-one-card")}}/5'><h2>Dra 5 kort</h2></a>
    <p>För att skapa en kortlek med kort i måste man köra setupDeck eller recreateDeck annars kommer den vara tom. Efter att man har kört någon av dessa så behöver man blanda kortleken. Ett kort består av ett värde samt en "färg" och CardGraphic som ärver från Card har en imgPath som leder till rätt bild för kortet. CardGraphic avgör själv vilken path som den ska använda sig av. För att den ska få en satt imgPath måste man köra setStyle. Innan man kör setStyle måste man ge ett värde till sina kort med funktionerna setValue och setType<p>
    <img src='{{ asset("img/drawio.png") }}'> #}

{% endblock %}