{% extends "base.html.twig" %}

{% block title %}Alla böcker{% endblock %}

{% block main %}
    
    {% for c in books %}
    <a href="show/{{c.id}}">
    <div class="book">
        <h2>{{c.title}}</h2>
        <div class="book-two-col">
            <p>ISBN: {{c.isbn}}</p>
            <p>Author: {{c.author}}</p>
            {% if (c.img) %}
            <img src="{{c.img}}" alt="bild på bok">
            {% endif %}
        </div>
        <a class="button" href='delete/{{c.id}}'>Ta bort Bok</a>
        <a class="button" href='update/{{c.id}}'>Uppdatera bok</a>

    </div>
    </a>
    {% endfor %}


{% endblock %}